absl-py==2.1.0
accelerate==1.1.1
astunparse==1.6.3
charset-normalizer==3.4.0
cmdstanpy==1.2.4
contourpy==1.3.0
cvxopt==1.3.2
cycler==0.12.1
Cython==3.0.11
deprecation==2.1.0
et-xmlfile==1.1.0
filelock==3.15.4
flatbuffers==25.2.10
fonttools==4.53.1
fsspec==2024.9.0
gast==0.6.0
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.70.0
h5py==3.13.0
holidays==0.56
huggingface-hub==0.26.2
idna==3.10
importlib_resources==6.4.4
indsl==8.4.0
intervaltree==3.1.0
jellyfish==0.11.2
Jinja2==3.1.4
joblib==1.4.2
KDEpy==1.1.9
keras==3.8.0
kiwisolver==1.4.7
libclang==18.1.1
log-distance-measures==2.0.0
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
networkx==3.2.1
numpy==1.26.4
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.1
packaging==23.2
pandas==2.2.2
patsy==0.5.6
pillow==10.4.0
pm4py==2.7.11.14
pmdarima==2.0.4
prophet==1.1.5
protobuf==5.29.3
PuLP==2.9.0
pydotplus==2.0.2
pyparsing==3.1.4
pytz==2024.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
ruptures==1.1.9
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
sortedcontainers==2.4.0
stanio==0.5.1
statsmodels==0.14.4
sympy==1.13.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.5.0
tokenizers==0.20.3
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.66.5
transformers==4.46.2
typeguard==4.3.0
tzdata==2024.1
urllib3==2.2.3
Werkzeug==3.1.3
wrapt==1.17.2
xgboost==2.1.4
zipp==3.20.1
